
.bblack{
  margin-top:0;
  border:0px solid black;
  background-color:;
  /*width:100px;*/
}
.fleft{
  float:left;
}
.x-btn{
   /*border-radius:5%; */
  width:49%;
  border:0px solid black;
  cursor:pointer;
  background-color:;
  opacity:0;
  height: 100%;
}
.bbar{
  text-align:center;
  height:50px;
  background-color:;
    position:absolute;
  border:0px solid red;
  width: 100%;
  height: 100%;

}
.bio{
  background-color:#D6FEF7;
  position:absolute;
  text-align:center;
  margin:5% 0%;
  border-radius:5px;
  width: 100%;
  padding: 3px;
  opacity: 0.9;
}
.SupperLikeCss{
  background-color:white;
  position:absolute;
  text-align:center;
  margin:40% 30%;
  opacity: 0.6;
}
.SupperLikeHide{
  display: none;
}




#container {
  width: 500px;
  margin: auto !important;
  display: block;
  height: 500px;
  position: relative;
  list-style-type: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.buddy {
  display: none;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: #fff;
  padding: 20px;
  width: 360px;
  height: 360px;
  top: 50px;
  left: 50px;
  position: absolute;
  cursor: hand;
}
.rotate-left {
  /*transform: rotate(30deg) scale(0.8);*/
  transition: 1s;
  /*margin-left: 100px;*/
  cursor: e-resize;
  opacity: 0;
  /*z-index: 10;*/

}
.rotate-right {
  /*transform: rotate(-30deg) scale(0.8);*/
  transition: 1s;
  opacity: 0;
  /*margin-left: -100px;*/
  cursor: w-resize;
  /*z-index: 10;*/
}
.scale1{
  transform: scale(1.2);
}
.spin1{
transform: scale(2.0);

-webkit-animation: rotation 0.3s infinite linear;

}
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
.hide{
  display: none;
}
.avatar {
  background: #222;
  width: 340px;
  height: 340px;
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  background-size: auto 160% !important;
  background-position: center;
 background-repeat: no-repeat;
}
.like {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid green;
  color: yellow;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  right: 40px;
  text-shadow: none;
}
.dislike {
  border-radius: 5px;
  padding: 5px 10px;
  border: 2px solid red;
  color: red;
  text-transform: uppercase;
  font-size: 15px;
  position: absolute;
  top: 50px;
  left: 40px;
  text-shadow: none;
}
